# File: esphome/jk-bms-proxy.yaml
substitutions:
  name: jk-bms
  device_description: "Monitor and control a JK-BMS via bluetooth"
  external_components_source: github://syssi/esphome-jk-bms@main
  # Your specific hardware MAC address
  mac_address: 10:23:81:95:FB:75
  # Protocol for newer JK-BMS >= hardware version 11.0
  protocol_version: JK02_32S

esphome:
  name: ${name}
  comment: ${device_description}
  min_version: 2024.6.0

esp32:
  board: esp32dev
  framework:
    type: esp-idf

external_components:
  - source: ${external_components_source}
    refresh: 0s

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

ota:
  - platform: esphome
    password: !secret ota_password
    on_begin:
      then:
        - switch.turn_off: ble_client_switch0
        - logger.log: "BLE connection suspended for OTA update"

api:
  encryption:
    key: !secret api_encryption_key

esp32_ble_tracker:
  scan_parameters:
    active: false

ble_client:
  - mac_address: ${mac_address}
    id: client0

jk_bms_ble:
  - ble_client_id: client0
    protocol_version: ${protocol_version}
    throttle: 5s
    id: bms0

# ... [Remaining sensors, buttons, and switches from your provided code] ...
